<a href="https://colab.research.google.com/github/CalHdzg/Reto-Analisis-de-Trafico-en-Aeropuertos/blob/main/Aerolineas_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Para importar el archivo de mi computadora
from google.colab import files
uploaded = files.upload()

Saving Aerolineas Editado.xlsx to Aerolineas Editado.xlsx

In [61]:
import pandas as pd

df = pd.read_excel('/content/Aerolineas Editado.xlsx')

In [62]:
df #Corro al dataframe para ver que se haya extraido correctamente

,Nivel Satisfacción,Airline Status,Edad,Rango_edad,Género,Tipo Viaje,Consumo en Aereopuerto,Consumo en Alimentos,Clase,Flight date,...,Edo. Origen,CD. Destino,Edo. Destino,Horario Salida,Retraso Salida (Min),Retraso Llegado (Min),Cancelación,Tiempo vuelo (min),Distancia Vuelo,Retraso Mayor 5 Min
0,5,Blue,31,30-39,Male,Business travel,0,75,Business,2021-03-18,...,Wisconsin,"Dallas/Fort Worth, TX",Texas,15,0.0,3.0,No,134.0,821,no
1,4,Blue,56,50-59,Male,Business travel,15,60,Business,2021-01-11,...,Wisconsin,"Dallas/Fort Worth, TX",Texas,11,2.0,5.0,No,120.0,821,no
2,3,Blue,21,20-29,Female,Personal Travel,0,135,Business,2021-01-25,...,Wisconsin,"Dallas/Fort Worth, TX",Texas,12,34.0,14.0,No,122.0,853,yes
3,4,Blue,43,40-49,Male,Business travel,10,45,Eco,2021-02-20,...,Wisconsin,"Dallas/Fort Worth, TX",Texas,11,26.0,39.0,No,141.0,821,yes
4,5,Silver,49,40-49,Male,Business travel,8,26,Eco,2021-02-25,...,Wisconsin,"Dallas/Fort Worth, TX",Texas,12,0.0,0.0,No,144.0,853,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129884,2,Blue,85,80+,Female,Personal Travel,0,90,Eco Plus,2021-02-23,...,California,"San Diego, CA",California,19,2.0,3.0,No,69.0,447,no
129885,2,Blue,16,0-19,Female,Personal Travel,0,10,Eco Plus,2021-03-09,...,California,"Los Angeles, CA",California,14,0.0,0.0,No,53.0,308,no
129886,2,Blue,78,70-79,Female,Personal Travel,167,150,Eco Plus,2021-02-08,...,California,"San Francisco, CA",California,7,6.0,14.0,No,72.0,337,yes
129887,4,Gold,48,40-49,Male,Personal Travel,0,15,Eco Plus,2021-03-02,...,California,"San Francisco, CA",California,9,31.0,22.0,No,56.0,337,yes
129888,3,Blue,59,50-59,Female,Personal Travel,15,120,Eco Plus,2021-02-04,...,California,"San Francisco, CA",California,7,0.0,0.0,No,59.0,337,no

In [22]:
df.columns

Index(['Nivel Satisfacción', 'Airline Status', 'Edad', 'Rango_edad', 'Género',
       'Tipo Viaje', 'Consumo en Aereopuerto', 'Consumo en Alimentos', 'Clase',
       'Flight date', 'Airline Code', 'Airline Name', 'CD. Origen',
       'Edo. Origen', 'CD. Destino', 'Edo. Destino', 'Horario Salida',
       'Retraso Salida (Min)', 'Retraso Llegado (Min)', 'Cancelación',
       'Tiempo vuelo (min)', 'Distancia Vuelo', 'Retraso Mayor 5 Min'],
      dtype='object')

In [23]:
df['Nivel Satisfacción'].value_counts()

4    53763
3    36986
2    23587
5    12554
1     2999
Name: Nivel Satisfacción, dtype: int64

In [24]:
df['Airline Status'].value_counts()

Blue        88910
Silver      25970
Gold        10837
Platinum     4172
Name: Airline Status, dtype: int64

In [30]:
print(df['Edad'].min(), df['Edad'].max())
df['Edad'].value_counts()

15 85

80    3705
41    2935
39    2905
43    2876
42    2859
      ...
75     971
77     966
76     948
78     843
79     761
Name: Edad, Length: 67, dtype: int64

In [31]:
df['Rango_edad'].value_counts()

40-49    27466
30-39    26321
50-59    21988
60-69    15496
20-29    15474
70-79     9796
0-19      8092
80+       5256
Name: Rango_edad, dtype: int64

In [32]:
df['Género'].value_counts()

Female    73374
Male      56515
Name: Género, dtype: int64

In [33]:
df['Tipo Viaje'].value_counts()

Business travel    79630
Personal Travel    40189
Mileage tickets    10070
Name: Tipo Viaje, dtype: int64

In [63]:
print(df['Consumo en Aereopuerto'].max())
df['Consumo en Aereopuerto'].value_counts()

879

0      73900
60      5212
30      5026
10      4596
5       4093
       ...
640        1
402        1
515        1
308        1
720        1
Name: Consumo en Aereopuerto, Length: 427, dtype: int64

In [110]:
# Cambio el nombre de la clase anterior, que tiene un error.
df.rename(columns={'Consumo en Aereopuerto':'Consumo en Aeropuerto'}, inplace=True)

In [66]:
print(df['Consumo en Aeropuerto'].max())
df['Consumo en Aeropuerto'].value_counts()

879

0      73900
60      5212
30      5026
10      4596
5       4093
       ...
640        1
402        1
515        1
308        1
720        1
Name: Consumo en Aeropuerto, Length: 427, dtype: int64

In [47]:
print(df['Consumo en Alimentos'].max())
df['Consumo en Alimentos'].value_counts()

895

30     13583
60     13507
90      8691
45      7015
0       6065
       ...
550        1
277        1
451        1
818        1
448        1
Name: Consumo en Alimentos, Length: 425, dtype: int64

In [39]:
df['Clase'].value_counts()

Eco         105735
Eco Plus     13606
Business     10548
Name: Clase, dtype: int64

In [70]:
# Cambio el tipo de valor anterior para que lo reconozca como fecha
df['Flight date'] = pd.to_datetime(df['Flight date'])

print(df['Flight date'].value_counts())
print(df['Flight date'].min(), df['Flight date'].max())

2021-03-13    1641
2021-03-10    1640
2021-03-21    1638
2021-03-26    1628
2021-03-27    1622
              ...
2021-01-11    1147
2021-01-25    1125
2021-02-01    1121
2021-02-08    1094
2021-01-18    1066
Name: Flight date, Length: 90, dtype: int64
2021-01-01 00:00:00 2021-03-31 00:00:00

In [111]:
print(df['Flight date'].value_counts())

2021-03-13    1641
2021-03-10    1640
2021-03-21    1638
2021-03-26    1628
2021-03-27    1622
              ...
2021-01-11    1147
2021-01-25    1125
2021-02-01    1121
2021-02-08    1094
2021-01-18    1066
Name: Flight date, Length: 90, dtype: int64

In [74]:
df['Airline Code'].value_counts()

WN    26058
DL    17037
EV    15407
OO    13840
AA    12248
OU    10968
US     9577
MQ     8927
B6     5395
AS     3407
FL     2481
HA     1688
F9     1568
VX     1288
Name: Airline Code, dtype: int64

In [76]:
df['Airline Name'].value_counts()

Cheapseats Airlines Inc.             26058
Sigma Airlines Inc.                  17037
FlyFast Airways Inc.                 15407
Northwest Business Airlines Inc.     13840
Paul Smith Airlines Inc.             12248
Oursin Airlines Inc.                 10968
Southeast Airlines Co.                9577
EnjoyFlying Air Services              8927
OnlyJets Airlines Inc.                5395
FlyToSun Airlines Inc.                3407
FlyHere Airways                       2481
West Airways Inc.                     1688
GoingNorth Airlines Inc.              1568
Cool&Young Airlines Inc.              1288
Name: Airline Name, dtype: int64

In [77]:
df['CD. Origen'].value_counts()

Atlanta, GA                8428
Chicago, IL                7641
Dallas/Fort Worth, TX      6236
Houston, TX                5461
Los Angeles, CA            5083
                           ...
Kodiak, AK                    7
Vernal, UT                    6
North Bend/Coos Bay, OR       5
Moab, UT                      5
Adak Island, AK               3
Name: CD. Origen, Length: 295, dtype: int64

In [80]:
df['Edo. Origen'].value_counts()

California                                        16751
Texas                                             16346
Florida                                           10894
Georgia                                            8751
Illinois                                           7989
Colorado                                           5690
New York                                           5627
Arizona                                            4362
North Carolina                                     3890
Virginia                                           3572
Nevada                                             3458
Michigan                                           2738
Utah                                               2522
Pennsylvania                                       2493
New Jersey                                         2491
Washington                                         2433
Massachusetts                                      2317
Minnesota                                          2309
Missouri                                           2289
Hawaii                                             2195
Maryland                                           1969
Ohio                                               1885
Tennessee                                          1859
Louisiana                                          1644
Oregon                                             1490
Wisconsin                                          1191
Oklahoma                                            897
Indiana                                             891
Kentucky                                            874
Alaska                                              738
Alabama                                             705
Puerto Rico                                         700
New Mexico                                          630
Arkansas                                            601
South Carolina                                      590
Nebraska                                            550
Connecticut                                         489
Idaho                                               396
Iowa                                                381
Montana                                             357
Mississippi                                         307
Kansas                                              270
Wyoming                                             264
Rhode Island                                        258
North Dakota                                        245
South Dakota                                        226
New Hampshire                                       135
Maine                                                95
West Virginia                                        60
Vermont                                              57
Delaware                                             10
U.S. Pacific Trust Territories and Possessions        8
Name: Edo. Origen, dtype: int64

In [81]:
df['CD. Destino'].value_counts()

Atlanta, GA              8685
Chicago, IL              7575
Dallas/Fort Worth, TX    6215
Houston, TX              5336
Los Angeles, CA          5091
                         ...
Marquette, MI               6
Vernal, UT                  4
Pago Pago, TT               4
Moab, UT                    3
Adak Island, AK             3
Name: CD. Destino, Length: 296, dtype: int64

In [82]:
df['Edo. Destino'].value_counts()

California                                        16513
Texas                                             16189
Florida                                           10873
Georgia                                            9030
Illinois                                           7896
New York                                           5696
Colorado                                           5674
Arizona                                            4378
North Carolina                                     3932
Virginia                                           3511
Nevada                                             3477
Michigan                                           2666
Utah                                               2551
New Jersey                                         2453
Pennsylvania                                       2451
Washington                                         2410
Minnesota                                          2363
Massachusetts                                      2351
Missouri                                           2295
Hawaii                                             2193
Tennessee                                          1955
Maryland                                           1939
Ohio                                               1834
Louisiana                                          1639
Oregon                                             1476
Wisconsin                                          1200
Oklahoma                                            971
Kentucky                                            902
Indiana                                             869
Alaska                                              753
Alabama                                             746
Puerto Rico                                         652
Arkansas                                            640
New Mexico                                          623
South Carolina                                      602
Nebraska                                            502
Connecticut                                         483
Iowa                                                397
Idaho                                               395
Montana                                             364
Mississippi                                         317
Kansas                                              280
Rhode Island                                        276
North Dakota                                        250
South Dakota                                        247
Wyoming                                             245
New Hampshire                                       144
Maine                                               116
Vermont                                              75
West Virginia                                        68
Delaware                                             16
U.S. Pacific Trust Territories and Possessions       11
Name: Edo. Destino, dtype: int64

In [84]:
print(df['Horario Salida'].min(), df['Horario Salida'].max())
df['Horario Salida'].value_counts()

1 23

8     9392
17    9308
6     8894
7     8666
11    8556
13    8528
10    8413
12    8266
14    8166
15    7874
16    7848
9     7839
19    7509
18    7403
20    5221
21    3818
22    1752
5     1531
23     662
1       95
3       67
2       41
4       40
Name: Horario Salida, dtype: int64

In [86]:
print(df['Retraso Salida (Min)'].min(), df['Retraso Salida (Min)'].max())
df['Retraso Salida (Min)'].value_counts()

0.0 1592.0

0.0      71017
1.0       3683
2.0       2855
3.0       2535
4.0       2309
         ...
566.0        1
501.0        1
460.0        1
455.0        1
359.0        1
Name: Retraso Salida (Min), Length: 466, dtype: int64

In [88]:
print(df['Retraso Llegado (Min)'].min(), df['Retraso Llegado (Min)'].max())
df['Retraso Llegado (Min)'].value_counts()

0.0 1584.0

0.0       70414
1.0        2747
2.0        2587
3.0        2443
4.0        2373
          ...
1011.0        1
386.0         1
624.0         1
355.0         1
412.0         1
Name: Retraso Llegado (Min), Length: 472, dtype: int64

In [89]:
df['Cancelación'].value_counts()

No     127488
Yes      2401
Name: Cancelación, dtype: int64

In [91]:
# Cambio el anterior a Booleano
df['Cancelación'] = df['Cancelación'].map({'Yes': True, 'No': False})

In [92]:
df['Cancelación'].value_counts()

False    127488
True       2401
Name: Cancelación, dtype: int64

In [102]:
print(df['Tiempo vuelo (min)'].min(), df['Tiempo vuelo (min)'].max())
df['Tiempo vuelo (min)'].value_counts()

8.0 669.0

59.0     1163
53.0     1148
63.0     1146
44.0     1142
54.0     1130
         ...
653.0       1
669.0       1
646.0       1
637.0       1
610.0       1
Name: Tiempo vuelo (min), Length: 506, dtype: int64

In [104]:
print(df['Distancia Vuelo'].min(), df['Distancia Vuelo'].max())
df['Distancia Vuelo'].value_counts()

31 4983

337     1095
594      682
862      652
404      625
447      594
        ...
232        1
886        1
428        1
155        1
2021       1
Name: Distancia Vuelo, Length: 1231, dtype: int64

In [105]:
# Cambio el nombre de la categoría para especificar que es en millas
df.rename(columns={'Distancia Vuelo':'Distancia Vuelo (mi)'}, inplace=True)

In [106]:
print(df['Distancia Vuelo (mi)'].min(), df['Distancia Vuelo (mi)'].max())
df['Distancia Vuelo (mi)'].value_counts()

31 4983

337     1095
594      682
862      652
404      625
447      594
        ...
232        1
886        1
428        1
155        1
2021       1
Name: Distancia Vuelo (mi), Length: 1231, dtype: int64

In [107]:
df['Retraso Mayor 5 Min'].value_counts()

no     85385
yes    44504
Name: Retraso Mayor 5 Min, dtype: int64

In [108]:
# Cambio el anterior a Booleano
df['Retraso Mayor 5 Min'] = df['Retraso Mayor 5 Min'].map({'yes': True, 'no': False})

In [109]:
df['Retraso Mayor 5 Min'].value_counts()

False    85385
True     44504
Name: Retraso Mayor 5 Min, dtype: int64

In [114]:
df.to_excel('Aerolineas limpiado.xlsx', index=False)